
header{
    width:100%;
    height: 45px;
    background-color: aquamarine;
}
nav{
    width:100%;
    height: 25px;
    background-color: rgb(50, 75, 67);
}
#left-coln{
    float: left;
    width: 34%;
    height: 500px;
    background-color: bisque;
}
#right-coln{
    height: 500px;
    background-color: rgb(78, 78, 122);
    
}
footer{
    height: 30px;
    background-color: burlywood;
    
}